<%= form_for(@message) do |f| %>
  <% if @message.errors.present? %>
    <div class="alert alert-danger">
      <%= alert %>
      <ul>
        <% @message.errors.full_messages.each do |full_message| %>
          <li>
            <%= full_message %>
          </li>
        <% end %> 
      </ul>
    </div>
  <% end %>

  名前:<br>
  <%= f.text_field :name %><br>
  年齢:<br>
  <%= f.text_field :age %><br>
  <%= f.select :age, options_for_select((5..100).map{|num| ["#{num}歳", num]}, selected: "20") %>
  内容:<br>
  <%= text_area :message, :body, :size => "25x5" %><br>
  <%= f.submit class: "btn btn-sm btn-primary" %>
<% end %>